* {
    margin: 0;
}

/* Login page */
#main {
    display: flex; 
    height: 100vh;
    width: 100%;
}
#left {
    background-color: #1C1E22;
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#left .left-in {
    background-color: #22242A;
    height: 85vh;
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0px 0px 30px;
    box-shadow: 10px 10px 170px 1px rgb(3, 0, 10);
}
#left .left-in .left-in-card {
    margin-bottom: 150px;
    font-family: "Inter", sans-serif;
    color: white;
    gap: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 60vh;
    width: 40vh;
}
.left-in-card .log-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.left-in-card h1 {
    
    font-size: 55px;
    font-weight: 1100px;
}
.left-in-card input {
    color: white;
    border: none;
    background: transparent;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid gray;
    outline: none;
    transition: transform 0.3s ease-in-out ;
}
.left-in-card input::placeholder {
    font-size: 20px;
}
.left-in-card input:hover {
    transform: scale(1.03);
}
.pass-wrap {
    display: flex;
    width: 100%;
}
.pass-wrap input {
    width: 100%;
    padding: 8px 32px 8px 0; 
    background: transparent;
    border: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 14px;
    outline: none;
}
.pass-wrap .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
}
.pass-wrap .toggle:hover {
    cursor: pointer;
}
.left-in-card .fpass {
    color: gray;
    transition: transform 0.3s ease;
}
.left-in-card .fpass:hover {
    transform: scale(1.05);
    cursor: pointer;
}
button {
    background-color: #9B6DE5;
    width: 100%;
    height: 5vh;
    transition: transform 0.3s ease-in-out;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    color: white;
    font-size: 2vh;
    
}
button:hover {
    transform: scale(1.05);
    cursor: pointer;
}
#right {
    background-color: #9B6DE5;
    width: 60%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#right .right-in {
    background-image: url(web_page_img.png);
    height: 85vh;
    width: 107.5vh;
    border-radius: 0 30px 30px 0;
    box-shadow: 10px 10px 170px 1px rgb(3, 0, 10);
}


/* Dashboard */


